.card{
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
padding: 2px 16px;    
}
.image{
    width:100%;
    height: 200px;
    background-color: #ddd;
}
.title{
    color: grey;
    font-size: 18px;
}
.content{
    padding:10px 16 px
}
.link{
    float: right;
padding: 5px 10px;
margin-top: 10px;
background-color: #2196f3;
color: white;
border:none;
cursor: pointer;
border: radius 5px; 
text-decoration: none;
}
.link:hover{
opacity: 0.8;
}